@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');

:root {
    --background-color: #f9f9f9;
    --blue: #0468ff;
    --light-blue: #CBDFFD;
    --dark-blue: #344586;
    --blue-rgb: 4, 104, 255;
    --grey: #A3A7C1;
    --light-grey: #EFEFEF;
}

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--background-color);
    padding: 20px 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 0;
}

.all-content-container {
    display: flex;
    flex-direction: row;
    max-width: 1300px;
    padding: 0;
}

/* sidenav */

.sidenav {
    width: 16%;
    min-width: 300px;
    overflow-x: hidden;
    padding: 4px;
    position: fixed;
    z-index: 1;
}

.sidenav-el {
    display: flex;
    align-items: center;
}

.sidenav-el:not(:last-child) {
    margin-bottom: 16px;
}

.sidenav-el img {
    float: left;
    margin-right: 16px;
}

.sidenav-el p {
    margin: 0;
}

.sidenav-title {
    color: var(--blue);
}

.sidenav-link {
    padding: 10px;
    color: #09121f;
    background-color: #ffffff;
    border-radius: 4px;
    text-decoration: none;
    border: 1px solid transparent;
}

.sidenav-link:hover,
.sidenav-link:focus {
    border: 1px solid black;
}

.active-link {
    background-color: rgba(var(--blue-rgb), 0.2);
}

.active-link img {
    filter: invert(36%) sepia(90%) saturate(4883%) hue-rotate(211deg) brightness(102%) contrast(105%);
}

.active-link p {
    color: var(--blue);
}

/* main */

.main {
    width: 100%;
    margin-left: 380px;
}

/* topnav */

header {
    display: grid;
    grid-gap: 30px;
    margin-top: 40px;
    margin-bottom: 60px;
    grid-template-columns: 1.2fr .6fr .2fr;
    grid-template-areas:
        "left center right"
}

.header-el {
    display: flex;
    align-items: center;
}

.header-el img {
    margin-right: 9px;
}

.header-el p {
    margin: 0;
    padding: 0;
}

header input[type=text] {
    background: url("../images/main/search.png");
    background-repeat: no-repeat;
    background-position: 24px center;
    background-size: 16px;
    background-color: rgba(222, 222, 222, .5);
    padding: 12px 20px 12px 48px;
    border: 0;
    border-radius: 50px;
    grid-area: left;
}

header input[type=text]::placeholder {
    color: black;
    opacity: 1;
}

.btn {
    background-color: rgba(var(--blue-rgb), .2);
    border: 1px solid rgba(255, 255, 255, .0);
    border-radius: 4px;
    padding: 8px;
    cursor: pointer;
}

.btn:hover {
    border: 1px solid black;
}

.eye-btn {
    grid-area: center;
}

.enter-btn {
    grid-area: right;
    color: var(--blue);
}

/* news */

.news {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
        "left center1"
        "left center2";
    margin-bottom: 40px;
}

.swiper {
    width: 600px;
    height: 100%;
}

.swiper-slide {
    text-align: left;
}

.swiper-slide img {
    width: 100%;
    height: 92%;
    object-fit: cover;
    border-radius: 8px;
    position: absolute;
    top: 0;
}

.swiper-slide p {
    position: absolute;
    bottom: 0;
    height: 20px;
}

.news-content {
    width: 100%;
    background-color: linear-gradient(45deg, var(--light-blue), var(--blue));
    border-radius: 8px;
}

.news-item p {
    margin: 0;
    margin-top: 8px;    
    overflow-y: auto;
}

.news-1 {
    max-height: 800px;
    grid-area: left;
    height: 100%;
}

.news-2 img,
.news-3 img {
    max-height: 150px;
}

.news-2 {
    grid-area: center1;
    margin-bottom: 0;
  }

.news-3  {
    margin: 0;
    grid-area: center2;
}

/* Offers */

.offers {
    max-height: 250px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: none;
    grid-template-areas:
        "first second";
    grid-gap: 15px;
    background: #ffffff;
    margin-bottom: 100px;
}

.content-container {
    grid-area: first;
    padding: 34px;
    padding-top: 22px;
}

.content-container p {
    font-weight: bold;
    font-size: 1.5rem;
    margin: 0;
    margin-bottom: 30px;
    line-height: 2rem;
}

.contact-us {
    border-radius: 8px;
    border: 1px solid var(--dark-blue);
    color: var(--dark-blue);
    background: inherit;
    text-decoration: none;
    padding: 14px 20px;
}

.contact-us:hover,
.contact-us:focus {
    background: var(--dark-blue);
    color: #ffffff;
}

.image-container {
    grid-area: second;
}

.image-container img {
    width: 100%;
    height: 250px;
    object-fit: fill;
}

/* info */

.info-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    text-align: center;
    column-gap: 20px;
    row-gap: 40px;
    margin-bottom: 60px;
}

.info-item {
    text-decoration: none;
    color: var(--dark-blue);
    padding: 4px;
}

.info-item img {
    width: 80px;
    height: 80px;
    margin-bottom: 8px;
}

/* school results */

.results-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    margin-bottom: 70px;
}

.results-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.results-item h2 {
    color: var(--blue);
    font-size: 3.5rem;
    margin-top: 16px;
    margin-bottom: 0;
}

.results-item p {
    color: var(--grey);
    width: 60%;
}

/* Add services */

.add-services {
    margin-bottom: 40px;
}

.services-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.services-div {
    padding: 16px;
    width: 45%;
    min-height: 100px;
    background: var(--light-grey);
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 8px;
}

.services-div * {
    margin: 0;
}

.services-div h3 {
    color: var(--blue);
    margin-bottom: 6px;
    font-size: 1.35rem;
}

.services-div p {
    color: var(--grey);
}

.blue-btn {
    height: fit-content;
    background: var(--blue);
    color: #ffffff;
    width: 120px;
    border-radius: 10px;
    padding: 10px;
}

.enroll-child img {
    height: 60px;
}

/* footer */

footer {
    margin-top: auto;
    position: absolute;
    left: 0;
    right: 0;
}

/* cooperation */

.cooperators, .contact-us {
    max-width: 1300px;
}

.cooperation, .contact-us {
    background: #ffffff;
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 10px;
}

.cooperators {
    padding-left: 440px;
}

.splide__slide {
    display: flex;
    align-items: center;
}

.cooperators img {
    width: 100px;
}

/* contact us */

.footer-contact-us {
    margin-top: 40px;
}

.contact-us-container {
    /* display: grid;
    grid-template-columns: .75fr 1fr .75fr;
    grid-template-areas: "social contacts btn"; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
    padding-left: 40px;
    padding-right: 40px;
}

.contact-us-container div:not(:last-child) {
    margin-right: 150px;
}

.social {
    grid-area: social;
    width: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.social img {
    width: 45px;
}

.contacts {
    grid-area: contacts;
    width: 22%;
}

.contacts h2 {
    color: var(--blue);
    margin-bottom: 6px;
}

.contacts p {
    color: var(--grey);
    line-height: 22px;
}

.contact-us-container .btn {
    grid-area: btn;
    font-size: 1.25em;
    width: fit-content;
}

.footer-info {
    background: var(--blue);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    color: #ffffff;
    font-size: .75em;
    padding-left: 10px;
    padding-right: 10px;
}

@media (max-width: 1300px) {
    .news-item p {
        font-size: 1.25em;
    }

    header {
        margin-right: 20px;
    }
}

@media (max-width: 1240px) {
    .sidenav {
        display: none;
    }

    .news {
        grid-gap: 15px;
        grid-template-columns: 3fr 1.25fr;
    }

    .content-container p {
        font-size: 1.25rem;
    }
}

@media (max-width: 1100px) {
    .cooperators img {
        width: 80px;
    }

    .contact-us-container div:not(:last-child) {
        margin-right: 80px;
    }
}

@media (max-width: 950px) {
    .social {
        width: auto;
        flex-direction: column;
        justify-content: space-around;
    }
}

@media (max-width: 830px) {
    .eye-button, .enter-btn {
        display: none;
    }

    .news {
        grid-template-columns: repeat(2,  1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas:
            "left left"
            "left left"
            "center1 center2";
    }

    .cooperators img {
        width: 60px;
    }

    .contact-us-container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas: 
            "contacts social"
            "contacts btn"
    }

    .social {
        flex-direction: row;
    }

    .contacts h2 {
        font-size: 1em;
    }
    .contacts p {
        font-size: .75em;
    }

    .contact-us-container button {
        width: 100%;
    } 
}

@media (max-width: 690px) {
    .footer-info {
        flex-direction: column;
    }
}