@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');

:root {
    --background-color: #f9f9f9;
    --blue: #0468ff;
    --light-blue: #CBDFFD;
    --dark-blue: #344586;
    --blue-rgb: 4, 104, 255;
    --grey: #A3A7C1;
    --light-grey: #EFEFEF;
}

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 0;
    overflow-x: hidden;
}

.all-content-container {
    display: flex;
    flex-direction: row;
    max-width: 1300px;
    padding: 20px 50px;
}

a {
    text-decoration: none;
}

/* sidenav */

.sidenav {
    width: 16%;
    min-width: 300px;
    overflow-x: hidden;
    padding: 4px;
    position: fixed;
    z-index: 1;
}

.sidenav-el {
    display: flex;
    align-items: center;
}

.sidenav-el:not(:last-child) {
    margin-bottom: 16px;
}

.sidenav-el img {
    float: left;
    margin-right: 16px;
}

.sidenav-el p {
    margin: 0;
}

.sidenav-title {
    color: var(--blue);
}

.sidenav-link {
    padding: 10px;
    color: #09121f;
    background-color: #ffffff;
    border-radius: 4px;
    text-decoration: none;
    border: 1px solid transparent;
}

.sidenav-link:hover,
.sidenav-link:focus {
    border: 1px solid black;
}

.active-link {
    background-color: rgba(var(--blue-rgb), 0.2);
}

.active-link img {
    filter: invert(36%) sepia(90%) saturate(4883%) hue-rotate(211deg) brightness(102%) contrast(105%);
}

.active-link p {
    color: var(--blue);
}

/* main */

.main {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 380px;
    transform: translateX(0);
    transition: transform 0.5s; 
}

/* topnav */

header {
    display: grid;
    grid-gap: 30px;
    margin-top: 40px;
    margin-bottom: 60px;
    grid-template-columns: 1.2fr .6fr .2fr;
    grid-template-areas:
        "left center right"
}

.header-el {
    display: flex;
    align-items: center;
}

.menu-btn {
    display: none;
}

.menu-btn {
	width: 30px;
	height: 30px;
	position: relative;
	z-index:2;
	overflow: hidden;
    grid-area: button;
    margin-top: 5px;
    cursor: pointer;
}

.menu-btn span {
	width: 30px;
	height: 2px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #222222;
	transition: all 0.5s;
}

.menu-btn span:nth-of-type(2) {
	top: calc(50% - 5px);
}

.menu-btn span:nth-of-type(3) {
	top: calc(50% + 5px);
}

.menu.active {
    display: block;
	transform: translateX(0);
}

.menu-btn.active span:nth-of-type(1) {
    display: none;
}

.menu-btn.active span:nth-of-type(2) {
    top: 50%;
    transform: translate(-50%, 0%) rotate(45deg);  
}

.menu-btn.active span:nth-of-type(3) {
    top: 50%;
    transform: translate(-50%, 0%) rotate(-45deg); 
}

.header-el img {
    margin-right: 9px;
}

.header-el p {
    margin: 0;
    padding: 0;
}

header input[type=text] {
    background: url("../images/main/search.png");
    background-repeat: no-repeat;
    background-position: 24px center;
    background-size: 16px;
    background-color: rgba(222, 222, 222, .5);
    padding: 12px 20px 12px 48px;
    border: 0;
    border-radius: 50px;
    grid-area: left;
}

header input[type=text]::placeholder {
    color: black;
    opacity: 1;
}

.btn {
    background-color: rgba(var(--blue-rgb), .2);
    border: 1px solid rgba(255, 255, 255, .0);
    border-radius: 4px;
    padding: 8px;
    cursor: pointer;
    text-align: center;
}

.btn:hover {
    border: 1px solid black;
}

.eye-btn {
    grid-area: center;
}

.enter-btn {
    grid-area: right;
    color: var(--blue);
}

/* news */

.news {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}

.swiper {
    width: 500px;
    height: 100%;
}

.swiper-slide {
    text-align: left;
}

.swiper-slide img {
    width: 100%;
    height: 93%;
    object-fit: cover;
    border-radius: 8px;
    position: absolute;
    top: 0;
}

.swiper-slide p {
    position: absolute;
    bottom: 0;
    height: 20px;
}

.news-content {
    width: 100%;
    background-color: linear-gradient(45deg, var(--light-blue), var(--blue));
    border-radius: 8px;
}

.news-item p {
    margin: 0;
    margin-top: 8px;    
    overflow-y: auto;
}

.add-news-container {
    width: 24%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.news-1 {
    grid-area: left;
    height: 100%;
}

.news-2 img,
.news-3 img {
    max-height: 150px;
}

.news-2 p,
.news-3 p {
    margin: 0;
}

.news-2 {
    grid-area: center1;
    margin-bottom: 10px;
}

.news-3  {
    margin: 0;
    grid-area: center2;
}

/* Offers */

.offers {
    max-height: 250px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: none;
    grid-template-areas:
        "first second";
    grid-gap: 15px;
    background: #ffffff;
    margin-bottom: 100px;
}

.content-container {
    grid-area: first;
    padding: 34px;
    padding-top: 22px;
}

.content-container p {
    font-weight: bold;
    font-size: 1.5rem;
    margin: 0;
    margin-bottom: 30px;
    line-height: 2rem;
}

.contact-us {
    border-radius: 8px;
    border: 1px solid var(--dark-blue);
    color: var(--dark-blue);
    background: inherit;
    text-decoration: none;
    padding: 14px 20px;
}

.contact-us:hover,
.contact-us:focus {
    background: var(--dark-blue);
    color: #ffffff;
}

.image-container {
    grid-area: second;
}

.image-container img {
    width: 100%;
    height: 250px;
    object-fit: fill;
}

/* info */

.info-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    text-align: center;
    column-gap: 20px;
    row-gap: 40px;
    margin-bottom: 60px;
}

.info-item {
    text-decoration: none;
    color: var(--dark-blue);
    padding: 4px;
}

.info-item img {
    width: 80px;
    height: 80px;
    margin-bottom: 8px;
}

/* school results */

.results-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    margin-bottom: 70px;
}

.results-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.results-item h2 {
    color: var(--blue);
    font-size: 3.5rem;
    margin-top: 16px;
    margin-bottom: 0;
}

.results-item p {
    color: var(--grey);
    width: 60%;
}

/* Add services */

.add-services {
    margin-bottom: 40px;
}

.services-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.services-div {
    padding: 16px;
    width: 45%;
    min-height: 100px;
    background: var(--light-grey);
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 8px;
}

.services-div * {
    margin: 0;
}

.services-div h3 {
    color: var(--blue);
    margin-bottom: 6px;
    font-size: 1.35rem;
}

.services-div p {
    color: var(--grey);
}

.blue-btn {
    height: fit-content;
    background: var(--blue);
    color: #ffffff;
    width: 120px;
    border-radius: 10px;
    padding: 10px;
}

.enroll-child img {
    height: 60px;
}

/* footer */

footer {
    margin-top: auto;
    width: 100%;
}

/* cooperation */

.cooperators, .contact-us {
    max-width: 1300px;
}

.cooperation, .contact-us {
    background: #ffffff;
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 10px;
}

.cooperators {
    padding-left: 440px;
}

.splide__slide {
    display: flex;
    align-items: center;
}

.cooperators img {
    width: 100px;
}

/* contact us */

.footer-contact-us {
    margin-top: 40px;
}

.contact-us-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
    padding-left: 400px;
    padding-right: 40px;
}

.contact-us-container div:not(:last-child) {
    margin-right: 25px;
}

.social {
    grid-area: social;
    width: 240px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.social img {
    width: 45px;
}

.contacts {
    grid-area: contacts;
    width: 28%;
}

.contacts h2 {
    color: var(--blue);
    margin-bottom: 6px;
}

.contacts p {
    color: var(--grey);
    line-height: 22px;
}

.contact-us-container .btn {
    grid-area: btn;
    width: fit-content;
}

.footer-info {
    background: var(--blue);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    color: #ffffff;
    font-size: .75em;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: auto;
    transition: none;
}

@media (max-width: 1300px) {
    .main {
        margin-left: 0px;
    }

    header {
        margin-left: 30px;
        margin-right: 20px;
        grid-template-columns: .1.2fr .6fr .2fr;
        grid-template-areas:
            "left center right"
    }

    .menu {
        transform: translateX(-200%);
        transition: transform 0.5s; 
        z-index: 2;
    }

    .menu-btn {
        display: block;
        position: fixed;
        left: 10px;
        transition: all .5s; 
    }

    .news {
        width: 80%;
        justify-content: space-around;
    }

    .swiper {
        width: 650px;
    }

    .cooperators,
    .contact-us-container {
        padding-left: 0;
    }

    .contact-us-container {
        justify-content: space-around;
    }
}

@media (max-width: 1200px) {
    .swiper {
        width: 500px;
    }

    .news-2, .news-3 {
        width: 200px;
    }
}

@media (max-width: 1050px) {
    .swiper {
        width: 400px;
    }
}

@media (max-width: 1100px) {
    .cooperators img {
        width: 80px;
    }

    .contact-us-container div:not(:last-child) {
        margin-right: 80px;
    }
}

@media (max-width: 950px) {
    .social {
        width: auto;
        flex-direction: column;
        justify-content: space-around;
    }

    .services-div h3 {
        font-size: 1em;
    }

    .services-div p {
        font-size: .75em;
    }

    .food-info a {
        font-size: .75em;
    }

    .enroll-child img {
        width: 60px;
        height: 60px;
    }
}

@media (max-width: 880px) {
    .eye-button {
        display: none;
    }

    .swiper {
        width: 400px;
    }

    .content-container p {
        font-size: 1.25em;
    }

    .cooperators img {
        width: 60px;
    }

    .contact-us-container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas: 
            "contacts social"
            "contacts btn"
    }

    .social {
        flex-direction: row;
    }

    .contacts h2 {
        font-size: 1em;
    }

    .contacts p {
        font-size: .75em;
    }

    .contact-us-container button {
        width: 100%;
    } 

    .news {
        flex-direction: column;
    }

    .swiper {
        width: 600px;
        height: 300px;
        margin-bottom: 10px;
    }

    .add-news-container {
        flex-direction: row;
        width: 100%;
        justify-content: space-around;
    }

    .swiper {
        width: 500px;
    }

    .news-2, .news-3 {
        width: 40%;
    }

    .info-item img {
        width: 50px;
        height: 50px;
    }

    .school-results h2 {
        font-size: 1.5rem;
        margin-bottom: 15px;
    }

    .results-item h2 {
        font-size: 2rem;
    }

    .results-item p {
        font-size: 1rem;
    }

    .footer-info {
        flex-direction: column;
    }
}

@media (max-width: 735px) {
    .offers {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas:
            "second"
            "first";
        grid-gap: 0;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 260px;
        width: 80%;
    }

    .image-container {
        padding: 0;
    }

    .content-container {
        background-color: #ffffff;
    }
}

@media (max-width: 700px) {
    .swiper {
        width: 340px;
        height: 200px;
    }

    .swiper-slide img {
        height: 90%;
    }

    .info-container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        gap: 10px;
    }

    .services-container {
        flex-direction: column;
    }

    .services-div:not(:last-child) {
        margin-bottom: 10px;
    }
    
    .services-div {
        width: 80%;
        font-size: 1.25rem;
    }
}

@media (max-width: 600px) {
    .offers {
        width: 340px;
        margin-bottom: 180px;
    }

    .content-container p {
        font-size: 1em;
    }

    .image-container img {
        height: 150px;
    }
}