@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');

:root {
    --background-color: #f9f9f9;
    --blue: #0468ff;
    --light-blue: #CBDFFD;
    --dark-blue: #344586;
    --blue-rgb: 4, 104, 255;
    --grey: #A3A7C1;
    --light-grey: #EFEFEF;
    --button-border: #4079AD;
}

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 0;
    overflow-x: hidden;
}

.all-content-container {
    display: flex;
    flex-direction: row;
    max-width: 1600px;
    padding: 20px 50px;
}

a {
    text-decoration: none;
}

/* sidenav */

.sidenav {
    width: 300px;
    overflow-x: hidden;
    padding: 4px;
    position: fixed;
    z-index: 1;
    height: 100%;
    padding-bottom: 30px;
}

.sidenav-el {
    display: flex;
    align-items: center;
}

.sidenav-el:not(:last-child) {
    margin-bottom: 16px;
}

.sidenav-el img {
    float: left;
    margin-right: 16px;
}

.sidenav-el p {
    margin: 0;
}

.sidenav-title {
    color: var(--blue);
}

.sidenav-link {
    padding: 10px;
    color: #09121f;
    background-color: #ffffff;
    border-radius: 4px;
    text-decoration: none;
    border: 1px solid transparent;
}

.sidenav-link:hover,
.sidenav-link:focus {
    border: 1px solid black;
}

.active-link {
    background-color: rgba(var(--blue-rgb), 0.2);
}

.active-link img {
    filter: invert(36%) sepia(90%) saturate(4883%) hue-rotate(211deg) brightness(102%) contrast(105%);
}

.active-link p {
    color: var(--blue);
}

/* main */

.main {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 380px;
    transform: translateX(0);
    transition: transform 0.5s; 
}

section h2 {
    margin-bottom: 30px;
    margin-top: 30px;
}

/* topnav */

header {
    display: grid;
    grid-gap: 30px;
    margin-top: 40px;
    margin-bottom: 60px;
    grid-template-columns: 1.2fr .6fr .2fr;
    grid-template-areas:
        "left center right"
}

.header-el {
    display: flex;
    align-items: center;
}

.menu-btn {
    display: none;
}

.menu-btn {
	width: 30px;
	height: 30px;
	position: relative;
	z-index:2;
	overflow: hidden;
    grid-area: button;
    margin-top: 5px;
    cursor: pointer;
}

.menu-btn span {
	width: 30px;
	height: 2px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #222222;
	transition: all 0.5s;
}

.menu-btn span:nth-of-type(2) {
	top: calc(50% - 5px);
}

.menu-btn span:nth-of-type(3) {
	top: calc(50% + 5px);
}

.menu.active {
    display: block;
	transform: translateX(0);
}

.menu-btn.active span:nth-of-type(1) {
    display: none;
}

.menu-btn.active span:nth-of-type(2) {
    top: 50%;
    transform: translate(-50%, 0%) rotate(45deg);  
}

.menu-btn.active span:nth-of-type(3) {
    top: 50%;
    transform: translate(-50%, 0%) rotate(-45deg); 
}

.header-el img {
    margin-right: 9px;
}

.header-el p {
    margin: 0;
    padding: 0;
}

header input[type=text] {
    background: url("../images/main/search.png");
    background-repeat: no-repeat;
    background-position: 24px center;
    background-size: 16px;
    background-color: rgba(222, 222, 222, .5);
    padding: 12px 20px 12px 48px;
    border: 0;
    border-radius: 50px;
    grid-area: left;
}

header input[type=text]::placeholder {
    color: black;
    opacity: 1;
}

.btn {
    background-color: rgba(var(--blue-rgb), .2);
    border: 1px solid rgba(255, 255, 255, .0);
    border-radius: 4px;
    padding: 8px;
    cursor: pointer;
    text-align: center;
}

.btn:hover {
    border: 1px solid black;
}

.eye-btn {
    grid-area: center;
}

.enter-btn {
    grid-area: right;
    color: var(--blue);
}

.news {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    width: 100%;
}

.slideshow-container {
    width: 72%;
    position: relative;
    margin: auto;
    margin-right: 20px;
}

.mySlides {
    width: 100%;
    display: none;  
}
  
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}
  
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
  
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.mySlides img {
    margin-bottom: 20px;
    border-radius: 8px;
    height: 100%;
}
  
.text {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20px;
    overflow-y: scroll;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

.news-content {
    width: 100%;
    background-color: linear-gradient(45deg, var(--light-blue), var(--blue));
    border-radius: 8px;
}

.news-item p {
    margin: 0;
    margin-top: 8px;    
    overflow-y: auto;
}

.add-news-container {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.news-2 img,
.news-3 img {
    width: 100%;
}

.news-2 p,
.news-3 p {
    overflow-y: scroll;
    margin: 0;
    width: 100%;
}

.news-2 {
    margin-bottom: 10px;
}

.news-3  {
    margin: 0;
}

/* Offers */

.offers {
    width: 100%;
    height: auto;
    display: flex;
    background: #ffffff;
}

.offers-container {
    width: 50%;
}

.content-container {
    padding: 34px;
    padding-top: 22px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content-container p {
    font-weight: bold;
    font-size: 1.5rem;
    margin: 0;
    margin-bottom: 30px;
    line-height: 2rem;
}

.offers-container .contact-us {
    border-radius: 8px;
    border: 1px solid var(--dark-blue);
    color: var(--dark-blue);
    background: inherit;
    text-decoration: none;
    padding: 14px 20px;
}

.offers-container .contact-us:hover,
.offers-container .contact-us:focus {
    background: var(--dark-blue);
    color: #ffffff;
}

.image-container img {
    width: 100%;
}

/* info */

.info-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    text-align: center;
    column-gap: 20px;
    row-gap: 40px;
    margin-top: 100px;
    margin-bottom: 60px;
}

.info-item {
    text-decoration: none;
    color: var(--dark-blue);
    padding: 4px;
}

.info-item img {
    width: 80px;
    height: 80px;
    margin-bottom: 8px;
}

/* school results */

.results-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    margin-bottom: 70px;
}

.results-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.results-item h2 {
    color: var(--blue);
    font-size: 3.5rem;
    margin-top: 16px;
    margin-bottom: 0;
}

.results-item p {
    color: var(--grey);
    width: 60%;
}

/* Add services */

.add-services {
    margin-top: 60px;
    margin-bottom: 40px;
}

.services-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.services-div {
    padding: 16px;
    width: 45%;
    min-height: 100px;
    background: var(--light-grey);
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 8px;
}

.services-div * {
    margin: 0;
}

.services-div h3 {
    color: var(--blue);
    margin-bottom: 6px;
    font-size: 1.35rem;
}

.services-div p {
    color: var(--grey);
}

.blue-btn {
    height: fit-content;
    background: var(--blue);
    color: #ffffff;
    width: 120px;
    border-radius: 10px;
    padding: 10px;
}

.enroll-child img {
    height: 60px;
}

/* footer */

footer {
    margin-top: auto;
    width: 100%;
}

/* cooperation */

.cooperators, .offers-container .contact-us {
    max-width: 1000px;
}

.cooperation, .offers-container .contact-us {
    background: #ffffff;
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 10px;
}

.cooperators {
    padding-left: 480px;
}

.splide__slide {
    display: flex;
    align-items: center;
}

.cooperators img {
    width: 100px;
}

/* contact us */

.footer-contact-us {
    margin-top: 40px;
}

.contact-us-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
    margin-left: 40px;
    margin-right: 40px;
    padding-left: 400px;
    padding-right: 40px;
}

.contact-us-container div:not(:last-child) {
    margin-right: 25px;
}

.social {
    grid-area: social;
    width: 240px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.social img {
    width: 45px;
}

.contacts {
    grid-area: contacts;
    width: 28%;
}

.contacts h2 {
    color: var(--blue);
    margin-bottom: 6px;
}

.contacts p {
    color: var(--grey);
    line-height: 22px;
}

.contact-us-container .btn {
    grid-area: btn;
    width: fit-content;
}

.footer-info {
    background: var(--blue);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    color: #ffffff;
    font-size: .75em;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: auto;
    transition: none;
}

/* School info */

.info-links {
    margin-top: 16px;
    margin-bottom: 48px;
    display: flex;
    flex-direction: column;
}

.info-link:not(:last-child) {
    margin-bottom: 16px;
}

.info-link {
    padding: 16px 8px;
    font-size: 1.25rem;
    border-radius: 10px;
}

/* News */

.news-events-section {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 100px;
}

.grid-container {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: 
        "el-1 el-1 el-2"
        "el-3 el-4 el-4"
        "el-5 el-5 el-6";
    gap: 30px;
}

.grid-element {
    height: 240px;
    border-radius: 8px;
    background: linear-gradient(to left, #CBDFFD, #5BA1FF);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center
}

.grid-element p {
    font-size: 1.25rem;
}

.grid-photo div,
.grid-photo img {
    width: 50%;
}

.grid-photo img {
    border-top-right-radius: inherit;
    border-bottom-right-radius: inherit;
    height: 100%;
}

#el-1 {
    grid-area: el-1;
}

#el-2 {
    grid-area: el-2;
}

#el-3 {
    grid-area: el-3;
}

#el-4 {
    grid-area: el-4;
}

#el-5 {
    grid-area: el-5;
}

#el-6 {
    grid-area: el-6;
}

/* Enroll to school */

/* Vacancies */

.vacancies {
    margin: 48px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.vacancies h3 {
    font-size: 4rem;
    color: var(--blue);
}

.vacancies p {
    text-align: center;
    color: var(--grey);
}

/* Documents */

.documents {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 30px;
}

.documents h2,
.documents a {
    margin-bottom: 12px;
}

.document {
    font-weight: bold;
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 16px;
}

.document img {
    width: 40px;
    margin-right: 50px;
}

/* Food */

.food {
    margin: 32px auto 20px auto;
}

.food h2 {
    margin-bottom: 20px;
}

.food-grid {
    margin-bottom: 40px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas: 
        "first first"
        "second second"
        "second second"
        "third fourth"
        "fifth fifth";
    gap: 30px;
}

.food-grid > * {
    border-radius: 12px;
}

.light-blue-btn, .supplier-information {
    padding: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--black);
}

.light-blue-btn {
    font-size: 1.25rem;
}

.food-menu {
    grid-area: first;
    display: flex;
    justify-content: space-between;
    padding: 32px;
    padding-top: 28px;
}

.food-menu div {
    text-align: left;
}

.food-menu h3 {
    font-weight: normal;
    font-size: 1.5rem;
    margin-bottom: 4px;
}

.food-menu .btn {
    background-color: var(--dark-blue);
    color: white;
    font-size: 1rem;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.food-menu p {
    font-size: 1rem;
}

.supplier-information {
    grid-area: second;
    background-color: #ffffff;
    padding: 24px 48px;
}

.rules {
    grid-area: third;
}

.benefit {
    grid-area: fourth;
}

.price {
    grid-area: fifth;
}

.supplier-information {
    border-radius: 12px;
}

/* Contact us */

section + .contact-us {
    width: 70%;
    margin: 40px auto;
}

section + .contact-us label {
    font-weight: bold;
    margin-left: 4px;
}

section + .contact-us input {
    margin-bottom: 16px;
    height: 30px;
}

section + .contact-us h2 {
    text-align: center;
    margin-bottom: 12px;
}

section + .contact-us input,
section + .contact-us textarea {
    padding: 6px;
    margin-top: 4px;
    width: 100%;
    border-radius: 8px;
    border: 1px solid var(--button-border);
}

#agree {
    width: auto;
    height: auto;
    margin: 0;
}

section + .contact-us div {
    display: flex;
    align-items: center;
    margin: 20px auto;    
}

section + .contact-us .submit-btn {
    border: none;
    background-color: var(--light-blue);
    color: var(--dark-blue);
    font-size: 1.25rem;
    height: auto;
    padding: 8px;
    cursor: pointer;
}

/* Services */

section + .services {
    margin: 40px auto auto auto;
}

section + .services div {
    margin-left: 30px;
}

section + .services div > * {
    margin-bottom: 20px;
}

section + .services h2 {
    margin-bottom: 30px;
}

section + .services div .unmargin {
    margin-bottom: 0;
}

.spec-links-container a {
    margin: 0;
}

.spec-link {
    display: flex;
    flex-direction: row;
    color: var(--black);
    text-decoration: underline;
}

.spec-link:hover,
#services-order:hover {
    color: var(--blue);
}

.spec-link img {
    margin-top: 2px;
    margin-left: 4px;
    margin-right: 8px;
    height: 16px;
}

#services-order {
    display: block; 
    color: var(--black);
    text-decoration: underline;
}

/* Exam */

.useful-links .spec-links-container {
    border-radius: 8px;
    padding: 20px;
    background: #ffffff;
}

/* Distance learning */

.education {
    margin-top: 30px;
}

.education > * {
    margin-bottom: 30px;
}

.education .documents {
    margin-top: 8px;
}

.link-document {
    background: none;
    padding: 0;
    text-decoration: underline;
    border: none;
}

.link-document:hover {
    text-decoration: none;
    border: none;
    color: var(--dark-blue);
}

.link-document img {
    margin-right: 20px;
}

@media (max-width: 1300px) {
    .main {
        margin-left: 0px;
    }

    header {
        grid-template-columns: .1.2fr .6fr .2fr;
        grid-template-areas:
            "left center right"
    }

    .menu {
        transform: translateX(-200%);
        transition: transform 0.5s; 
        z-index: 2;
    }

    .menu-btn {
        display: block;
        position: fixed;
        top: 60px;
        left: 10px;
        transition: all .5s; 
    }

    .cooperators,
    .contact-us-container {
        padding-left: 0;
    }

    .contact-us-container {
        justify-content: space-around;
    }
}

@media (max-width: 1100px) {
    .content-container p {
        font-size: 1.25rem;
    }

    .cooperators img {
        width: 80px;
    }

    .contact-us-container div:not(:last-child) {
        margin-right: 80px;
    }
}

@media (max-width: 950px) {
    .footer-contact-us {
        justify-content: space-around;
    }

    .social {
        width: auto;
        flex-direction: column;
        justify-content: space-around;
    }

    .services-div h3 {
        font-size: 1em;
    }

    .services-div p {
        font-size: .75em;
    }

    .food-info a {
        font-size: .75em;
    }

    .enroll-child img {
        width: 60px;
        height: 60px;
    }
}

@media (max-width: 900px) {
    header input[type=text] {
        width: 100%;
    }

    .news {
        flex-direction: column;
    }
    
    .slideshow-container {
        width: 100%;
        position: relative;
        margin: auto;
        margin-bottom: 10px;
    }

    .add-news-container {
        flex-direction: row;
        width: 100%;
        justify-content: space-around;
    }
    
    .news-2 {
        margin-right: 30px;
    }

    .offers {
        flex-direction: column-reverse;
    }

    .offers-container {
        width: 100%;
    }

    .content-container p {
        font-size: 1.5rem;
    }

    .cooperators img {
        width: 60px;
    }

    .contact-us-container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas: 
            "contacts social"
            "contacts btn";
    }

    .social {
        flex-direction: row;
        justify-content: space-between;
        width: 16%;
    }

    .social img {
        width: 30px;
    }

    .contacts h2 {
        font-size: 1em;
    }

    .contacts p {
        font-size: .75em;
    }

    .contact-us-container button {
        width: 100%;
    } 

    .info-item img {
        width: 50px;
        height: 50px;
    }

    .school-results h2 {
        font-size: 1.5rem;
        margin-bottom: 15px;
    }

    .results-item h2 {
        font-size: 2rem;
    }

    .results-item p {
        font-size: 1rem;
    }

    .footer-info {
        flex-direction: column;
    }
}

@media (max-width: 735px) {
    header {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 
            "left left"
            "center right";
        gap: 20px;
    }

    .content-container {
        background-color: #ffffff;
    }

    .contact-us-container {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas: 
            "contacts social"
            "contacts btn";
        column-gap: 20px;
    }

    .contacts {
        width: 100%;
    }

    .social {
        width: 100%;
    }

    .contact-us-container .btn {
        width: 100%;
    }

    .grid-container {
        margin-top: 20px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 1fr);
        grid-template-areas: 
            "el-1"
            "el-2"
            "el-3"
            "el-4"
            "el-5"
            "el-6";
        gap: 30px;
    }

    section + .contact-us {
        width: 100%;
    }
}

@media (max-width: 700px) {
    .swiper {
        width: 340px;
        height: 200px;
    }

    .swiper-slide img {
        height: 90%;
    }

    .info-container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        gap: 10px;
    }

    .services-container {
        flex-direction: column;
    }

    .services-div:not(:last-child) {
        margin-bottom: 10px;
    }
    
    .services-div {
        width: 80%;
        font-size: 1.25rem;
    }
}

@media (max-width: 600px) {
    .menu-btn.active {
        transform: translateX(330px);
    }

    .all-content-container {
        padding: 30px;
    }

    .cooperators {
        padding-left: 24px;
    }

    .content-container p {
        font-size: 1.25em;
    }

    .info-item p {
        font-size: .8rem;
    }

    .school-results h2 {
        font-size: 1.2rem;
    }

    .results-item:not(:last-child) {
        margin-right: 8px;
    }

    .results-item p {
        width: 100%;
    }

    .services-div h3 {
        font-size: 1rem;
    }

    .contact-us-container {
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 25px;
        padding-left: 40px;
        padding-right: 40px;
    }

    .contact-us-container div {
        margin-bottom: 20px;
    }

    .social,
    .contacts {
        width: 100%;
    }

    .contacts h2 {
        font-size: 1.25rem;
    }

    .contacts p {
        font-size: 1rem;
    }
}